/*
    personalizar componentes en general...
*/
#sidebar-nav {
    width: 260px;
    height: 100%;
}
.main-container {
    padding: 0px;
}
.fixed-top-mc {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 1030;
}
.fixed-bottom-mc {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;
}
.content-main-wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
}

.bg-header {
    background-color: #455a64;
}

.bg-left-panel {
    /* background-color: #e57373; */
    /* background: linear-gradient(to right,#0369BF,#012340); */
    background-color: #003865;
}

.salir-elemento {
    padding-right: 260px;
}

.menu-titulo {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.nav-link {
    color: #012340;
}

.sidebar-brand {
    padding: 20px;
}

.menu-colapsable-btn {
    margin-left: 15px;
    max-width: 85px;
}

.nav-link:focus, .nav-link:hover {
    color: #0f7987;
}

table.dataTable thead .sorting {
    background-image: none;
}
table.dataTable thead .sorting_asc {
    background-image: none;
}


/*
SPINNER DE CARGA...
*/

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1.3s linear infinite; /* Safari */
    animation: spin 1.3s linear infinite;
    position:fixed;
    top:50%;
    left:50%;
    padding:2px;
    z-index: 101;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ui-widget-overlay {
    background: black;
    opacity: 0.5;
    filter: Alpha(Opacity=.3);
}

/*.alert-success {
    color: white;
    background-color: #93BAC0 !important;
    border-color: #93BAC0 !important;
}

.ui-dialog.ui-widget-content#dialogoAlert {
    background-color: #93BAC0 !important;
}

.ui-widget-header {
    background-color: #93BAC0 !important;
    border: 0;
}
*/

.dialog-btn-close-title {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
    border-width: 0 !important;
    background-color: transparent;
    color: #FFFFFF;
}

.ui-dialog .alert{
    padding: 0 !important;
}

.alert-success p {
    color: green;
    font-weight: bold;
}

.alert-danger p {
    color: red;
    font-weight: bold;
}

.alert .div-icon i {
    font-size: 45px;
}

.img-f {
    width: 100%;
    height: 240px;
    max-height: 240px;
    object-fit: contain;
    object-position: center;
}


.borde-sup-ligero {
    border-top: 1px dotted lightgray;
}

.borde-inf-ligero {
    border-bottom: 1px dotted lightgray;
}

.img-responsive {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
}

#load-vfx {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
}

.sidebar-link, a.sidebar-link {
    font-size: 1.4em;
}

.sidebar-header {
    font-size: 1.4em;
    text-transform: uppercase;
}

.zero-padding {
    padding: 0 !important;
}

.zero-margin {
    margin: 0 !important;
}

.full-width {
    width: 100%;
    display: block;
}

.btn-primary {
    background-color: #0d3056;
    border-color: #0d3056;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #0369BF;
    border-color: #0369BF;
    color: #FFFFFF;
    /* color: #0d3056 !important; */
}

label {
    font-weight: bold;
}

.label-modal {
    font-size: 14px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

h1 {
    font-weight: bold;
}

.imagen-usuaria {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    padding-top: 75%;
    border: 2px solid #b1aaba;
    margin-bottom: 15px;
}

.no-top-margin {
    margin-top: 0px;
}

.text-right {
    text-align: right;
}

.bg-cover {
    background-size: cover !important;
}

#revisar-usuaria {
    background-color: white;
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 45px;
    color: #0d3056; 
    margin-bottom: 30px;
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
}

#revisar-usuaria h2 {
    text-transform: uppercase;
    font-weight: bold;
}

#revisar-usuaria p {
    margin-bottom: 30px;
}

#revisar-usuaria h2, #revisar-usuaria p {
    color: #222e3c;
}

#revisar-usuaria .imagen-usuaria {
    border-radius: 50%;
    border: none;
    background-size: cover;
    padding-top: 100%;
    max-width: 250px;
    margin: 0 auto;
}

#revisar-usuaria .imagen-usuaria {
    margin-bottom: 30px;
}

#revisar-usuaria .imagen-usuaria .imagen-usuaria {
    margin-bottom: 0px;
}

#revisar-usuaria .stats p {
    font-weight: bold;
    margin-bottom: 5px;
}

#revisar-usuaria .item {
    height: 30px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

#revisar-usuaria .seguimientos {
    background-color: #cde7ff;
}

#revisar-usuaria .casos {
    background-color: #dceec6;
}

#revisar-usuaria .atencion {
    background-color: #e0dafd;
}

#revisar-usuaria .casos-procuracion-civil {
    background-color: #fad5c5;
}

#revisar-usuaria .casos-procuracion-penal {
    background-color: #bce6ec;
}

#usuaria-historial {
    padding-left: 30px;
}


/* PERSONALIZAR BOTONES... */

.col1-actions {
    width: 130px;
}

.btn-sm1 {
    border-radius: 0.1rem;
    font-size: .75rem;
    padding: 0.2rem 0.5rem;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-sm2 {
    border-radius: 0.1rem;
    font-size: .75rem;
    padding: 0.2rem 0.5rem;
    width: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-sm3 {
    border-radius: 0.1rem;
    font-size: .75rem;
    padding: 0.2rem 0.5rem;
    width: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.btn-sm4 {
    border-radius: 0.1rem;
    font-size: .75rem;
    padding: 0.2rem 0.5rem;
    width: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* estilos barra superior... */

.header-text-color {
    color: #fff;
}


.card {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0,0,0,.87);
    display: block;
    border-radius: 2px;
    position: relative;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    text-decoration: none;
}



